*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: #111111;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    color: rgb(182, 0, 0);
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}

p{
    padding: 5px;
    font-size: large;
}

a{
    color: whitesmoke;
}

a:hover{
    transition: 0.2s;
    color: rgb(185, 55, 55);    
}

.userInfo{
    font-style: italic;
}

div{
    padding: 50px 0 50px 0;
}
