*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: #111111;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    color: rgb(182, 0, 0);
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}

.about{
    padding: 0px 15px 30px 15px;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    outline: none;

}

.formQ{
    width: 20%;
    padding: 5px;
    margin: 10px;
}

.btn{
    margin: 10px;
    padding: 5px 10px 5px 10px;
}

.btn:hover{
    transition: 0.5s;
    background-color: rgb(182, 0, 0); 
    color: whitesmoke;
}

input:focus{
    transition: 0.5s;
    background-color: #ffe9e9;
}

div{
    padding: 25px;
    font-size: x-large;
}