*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: #111111;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    color: rgb(182, 0, 0);
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}

p{
    padding: 20px;
    margin-bottom: 10px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 15px;
}

a{
    color: whitesmoke;
    font-size: 16pt;
}

a:hover{
    transition: 0.2s;
    color: rgb(185, 55, 55);    
}

.nav{
    margin: 0 15px 0 15px;
    text-decoration: none;
}

.nav:hover{
    transition: 0.2s;
    color: rgb(182, 0, 0);    
}