*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: #111111;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(182, 0, 0);
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
}

input:focus{
    background-color: #ffe9e9;
}

div{
    padding: 25px;
    font-size: x-large;
}
